<md-dialog aria-label="Mango (Fruit)">
  <md-content>
    <div class="modal-body" >
      <p ng-hide="dbc.currentEntry" class="lead">Add new Password</p>
      <p ng-show="dbc.currentEntry" class="lead">Edit Password</p>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">Name:</span>
        </span>
        <input ng-model="dbc.formPasswordName" type="text" class="form-control" placeholder="Common name" value="{{ dbc.currentEntry.name }}">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">Host:</span>
      </span>
      <input ng-model="dbc.formPasswordHost" type="text" class="form-control" placeholder="http://" value="{{ dbc.currentEntry.host }}">
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">Username:</span>
      <input ng-model="dbc.formPasswordUsername" type="text" class="form-control" placeholder="Username" value="{{ dbc.currentEntry.username }}">
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">Password:</span>
      <input ng-model="dbc.formPasswordPassword" type="password" class="form-control" placeholder="Password" value="{{ dbc.currentEntry.password }}">
    </div>
  </div>
</div>
  </md-content>
  <div class="md-actions" layout="row">
    <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" hide show-md>
      More on Wikipedia
    </md-button>
    <span flex></span>
    <md-button ng-click="answer('not useful')">
      Not Useful
    </md-button>
    <md-button ng-click="answer('useful')" class="md-primary">
      Useful
    </md-button>
  </div>
</md-dialog>
