<md-dialog aria-label="Password">
  <md-content>
    <md-toolbar class="md-primary">
      <h1 ng-hide="form.id" class="md-toolbar-tools">
        Add new Password
      </h1>
      <h1 ng-show="form.id" class="md-toolbar-tools">
        Edit Password
      </h1>
    </md-toolbar>
    <md-content class="md-padding">
      <form name="entryForm">

        <md-input-container>
          <label>Name</label>
          <input name="name" required ng-model="form.name">
          <div ng-messages="entryForm.name.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label>Domain</label>
          <input name="domain" required ng-model="form.domain">
          <div ng-messages="entryForm.domain.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label>Username</label>
          <input name="username" required ng-model="form.username">
          <div ng-messages="entryForm.username.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>

        <div layout layout-sm="column">

          <md-input-container>
            <label>Password</label>
            <input ng-if="!passwordReveal" name="password" type="password" ng-model="form.password">
            <input ng-if="passwordReveal" name="password" type="text" ng-model="form.password">
            <div ng-messages="entryForm.password.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>

          <div ng-switch on="passwordReveal">
            <div ng-switch-when="false">
              <md-button ng-click="revealPassword()">Reveal Password</md-button>
            </div>
            <div ng-switch-when="true">
              <md-button ng-click="copyPassword()">Copy Password</md-button>
            </div>
          </div>

        </div>

        <div layout layout-sm="column">

          <md-input-container flex>
            <label>Extra info</label>
            <textarea ng-model="form.info" columns="1" md-maxlength="150"></textarea>
          </md-input-container>

        </div>

        </div>


      </form>
    </md-content>
  </md-content>

  <div class="md-actions" layout="row">
    <md-button ng-click="cancel()">
      Close
    </md-button>
    <span ng-show="form.id" flex></span>
    <md-button ng-show="form.id" ng-click="remove()" class="md-warn">
      Remove
    </md-button>
    <span flex></span>
    <md-button ng-click="save()" class="md-primary">
      Save
    </md-button>
  </div>

</md-dialog>
