<md-dialog aria-label="Credit Card">
  <md-content>
    <md-toolbar class="md-primary">
      <h1 ng-hide="form.id" class="md-toolbar-tools">
        Add new Credit Card
      </h1>
      <h1 ng-show="form.id" class="md-toolbar-tools">
        Edit Credit Card
      </h1>
    </md-toolbar>
    <md-content class="md-padding">
      <form name="entryForm">

        <md-input-container>
          <label>Name</label>
          <input name="name" required ng-model="form.name">
          <div ng-messages="entryForm.name.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label>Type (Mastercard, Visa, ecc.)</label>
          <input name="type" ng-model="form.type">
        </md-input-container>

        <md-input-container>
          <label>Number</label>
          <input name="number" required ng-model="form.number">
          <div ng-messages="entryForm.number.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>

        <div layout layout-sm="column">

          <md-input-container>
            <label>CVV</label>
              <input ng-if="!passwordReveal" name="cvv" type="password" ng-model="form.cvv">
              <input ng-if="passwordReveal" name="cvv" type="text" ng-model="form.cvv">
          </md-input-container>

          <div ng-switch on="passwordReveal">
            <md-button ng-switch-when="false" ng-click="revealPassword()">Reveal Password</md-button>
            <md-button ng-switch-when="true" ng-click="copyPassword()">Copy Password</md-button>
          </div>
        </div>

        <div layout layout-sm="column">

          <md-input-container>
            <label>Expiry Date</label>
            <input name="expiry" ng-model="form.expiry">
          </md-input-container>

          <md-input-container>
            <label>CardHolder</label>
            <input name="cardholder" ng-model="form.cardholder">
          </md-input-container>

        </div>
      </form>
    </md-content>
  </md-content>

  <div class="md-actions" layout="row">
    <md-button ng-click="cancel()">
      Close
    </md-button>
    <span ng-show="form.id" flex></span>
    <md-button ng-show="form.id" ng-click="remove()" class="md-warn">
      Remove
    </md-button>
    <span flex></span>
    <md-button ng-click="save()" class="md-primary">
      Save
    </md-button>
  </div>

</md-dialog>


<div class="modal-body" ng-show="dbc.isCurrentFolder('ccard')">
  <p class="lead">Add new Credit Card</p>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">Name</span>
      <input ng-model="dbc.formCcardName" type="text" class="form-control" placeholder="Give a name to your card">
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">Type</span>
      <select ng-model="dbc.formCcardType" class="form-control">
        <option></option>
        <option value="Visa">Visa</option>
        <option value="Master Card">Master Card</option>
        <option value="American Express">American Express</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">Number</span>
      <input ng-model="dbc.formCcardNumber" type="text" class="form-control" placeholder="Number">
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">Security code</span>
      <input ng-model="dbc.formCcardSecurity" type="password" class="form-control" placeholder="Security code">
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">Expiry Date</span>
      <input ng-model="dbc.formCcardExpiry" type="text" class="form-control" placeholder="SSID network name">
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">Cardholder</span>
      <input ng-model="dbc.formCcardCardholder" type="text" class="form-control" placeholder="Cardholder name and surname">
    </div>
  </div>
</div>

<div class="modal-footer clearfix">

  <button ng-hide="dbc.currentEntry" type="button" class="btn btn-primary" ng-click="dbc.saveEntry()" data-dismiss="modal"><i class="fa fa-envelope"></i> Save entry</button>
  <button ng-hide="dbc.currentEntry" type="button" class="btn btn-danger pull-left" data-dismiss="modal"><i class="fa fa-times"></i> Discard</button>

  <input type="hidden" ng-model="dbc.form.id" value={{dbc.currentEntry.id}} />
  <button ng-show="dbc.currentEntry" type="button" class="btn btn-primary" ng-click="dbc.updateEntry()" data-dismiss="modal"><i class="fa fa-envelope"></i> Update entry</button>
  <button ng-show="dbc.currentEntry" type="button" class="btn btn-danger pull-left" data-dismiss="modal" ng-click="dbc.removeEntry()"><i class="fa fa-times"></i> Remove entry</button>
  <button ng-show="dbc.currentEntry" type="button" class="btn btn-danger pull-left" data-dismiss="modal" ng-click="dbc.currentEntry = null"><i class="fa fa-times"></i> Discard</button>


</div>
