<md-dialog aria-label="WiFi">
  <md-content>
    <md-toolbar class="md-primary">
      <h1 ng-hide="form.id" class="md-toolbar-tools">
        Add new WiFi
      </h1>
      <h1 ng-show="form.id" class="md-toolbar-tools">
        Edit WiFi
      </h1>
    </md-toolbar>
    <md-content class="md-padding">
      <form name="entryForm">

        <md-input-container>
          <label>SSID Name</label>
          <input name="name" required ng-model="form.name">
          <div ng-messages="entryForm.name.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>

        <md-select ng-model="form.authentication" placeholder="Authentication Method">
          <md-option value="WEP">WEP</md-option>
          <md-option value="WPA">WPA</md-option>
          <md-option value="WPA2">WPA2</md-option>
        </md-select>

        <br>
        <br>

        <md-input-container>
          <label>Username</label>
          <input name="username" ng-model="form.username">
        </md-input-container>

        <div layout layout-sm="column">

          <md-input-container>
            <label>Password</label>

              <input ng-if="!passwordReveal" name="password" type="password" ng-model="form.password">
              <input ng-if="passwordReveal" name="password" type="text" ng-model="form.password">

            <div ng-messages="entryForm.password.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>

          <div ng-switch on="passwordReveal">
            <div ng-switch-when="false">
              <md-button ng-click="revealPassword()">Reveal Password</md-button>
            </div>
            <div ng-switch-when="true">
              <md-button ng-click="copyPassword()">Copy Password</md-button>
            </div>
          </div>
        </div>

      </form>
    </md-content>
  </md-content>

  <div class="md-actions" layout="row">
    <md-button ng-click="cancel()">
      Close
    </md-button>
    <span ng-show="form.id" flex></span>
    <md-button ng-show="form.id" ng-click="remove()" class="md-warn">
      Remove
    </md-button>
    <span flex></span>
    <md-button ng-click="save()" class="md-primary">
      Save
    </md-button>
  </div>

</md-dialog>
