.face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px;
}

.unlockbackground{
  background-color: rgb(46,204,113);
}

.unlockcontaier{
  background: url('../img/passwger-logo.png') no-repeat center;
  margin: 0;
  height: 600px;
  background-size: contain;
  text-align: center;
}

.unlockinput{
  width:250px;
  margin: auto;
  padding-top: 350px;
  padding-left: 6px;
}

.setupinput{
  width:250px;
  margin: auto;
  padding-top: 248px;
  padding-left: 6px;
}

.unlockbtn{
  margin: auto;
  top: 30px;
}

md-item-content {
  cursor: pointer; cursor: hand;
}
