<!DOCTYPE html>
<html ng-app="database">

<head>
  <meta charset="UTF-8">
  <title>Database // Passwger</title>
  <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

  <link href="../assets/css/style.css" rel="stylesheet" type="text/css" />
  <link href="../assets/js/libs/angular-material/angular-material.min.css" rel="stylesheet" />
  <link href="../assets/js/libs/ng-table/dist/ng-table.css" rel="stylesheet" type="text/css" />

  <script src="../assets/js/libs/hammerjs/hammer.min.js" type="text/javascript"></script>

  <script src="../assets/js/libs/angular/angular.min.js" type="text/javascript"></script>
  <script src="../assets/js/libs/angular-animate/angular-animate.min.js" type="text/javascript"></script>
  <script src="../assets/js/libs/angular-aria/angular-aria.min.js" type="text/javascript"></script>
  <script src="../assets/js/libs/angular-messages/angular-messages.min.js" type="text/javascript"></script>

  <script src="../assets/js/libs/ng-table/dist/ng-table.js" type="text/javascript"></script>

  <script src="../assets/js/libs/angular-material/angular-material.min.js" type="text/javascript"></script>

  <script src="../controller/database.js" type="text/javascript"></script>

  <script src="../controller/api.js" type="text/javascript"></script>

</head>

<body ng-controller="DatabaseController as dbc">

    <div ng-show="dbc.locked" class="unlockbackground">
      <div class="unlockcontaier">
        <form name="unlockForm" class="unlockinput">
          <md-input-container>
            <input name="password" type="password" required ng-model="dbc.password" placeholder="password">
            <div ng-messages="unlockForm.password.$error">
              <div ng-message="required">Please provide your password to unlock.</div>
            </div>
          </md-input-container>

        </form>
        <md-button ng-click="dbc.unlockDb()" class="unlockbtn">Unlock</md-button>
      </div>
    </div>

    <div ng-hide="dbc.locked" layout="column" style="padding-bottom: 15px;">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <md-tabs class="md-primary" md-selected="dbc.selectedIndex">
            <md-tab id="tab1" aria-controls="tab1-content">
              Password ({{ dbc.totalFolderItems('password') }})
            </md-tab>
            <md-tab id="tab2" aria-controls="tab2-content">
              Server ({{ dbc.totalFolderItems('server') }})
            </md-tab>
            <md-tab id="tab3" aria-controls="tab3-content">
              Wi-Fi ({{ dbc.totalFolderItems('wifi') }})
            </md-tab>
            <md-tab id="tab4" aria-controls="tab4-content">
              Credit Card ({{ dbc.totalFolderItems('ccard') }})
            </md-tab>
          </md-tabs>
        </div>
        <md-input-container>
          <label>Filter items</label>
          <input ng-model="dbc.filter">
        </md-input-container>
      </md-toolbar>

      <md-content class="md-padding" style="height: 600px;">

          <md-list>
            <md-item ng-repeat="entry in dbc.tableDb">
              <md-item-content ng-click="dbc.setCurrentEntry(entry.id); dbc.showModal($event)">
                <div class="md-tile-left">
                  <img ng-src="../assets/img/placeholder-icon.png" class="face" alt="{{entry.name}}">
                </div>
                <div class="md-tile-content" data-title="'Name'" filter="{ 'name': 'text' }">
                  <h3>{{entry.name}}</h3>
                  <p ng-if="entry.domain">
                    {{entry.domain}}
                  </p>
                </div>
              </md-item-content>
            </md-item>
          </md-list>
          
          <!--md-list ng-table="tableParams">
            <md-item ng-repeat="entry in $data">
              <md-item-content ng-click="dbc.setCurrentEntry(entry.id); dbc.showModal($event)">
                <div class="md-tile-left">
                  <img ng-src="../assets/img/placeholder-icon.png" class="face" alt="{{entry.name}}">
                </div>
                <div class="md-tile-content" data-title="'Name'" filter="{ 'name': 'text' }">
                  <h3>{{entry.name}}</h3>
                  <p ng-if="entry.domain">
                    {{entry.domain}}
                  </p>
                </div>
              </md-item-content>
            </md-item>
          </md-list-->

      </md-content>

      <md-button class="md-fab md-primary" md-theme="cyan" aria-label="Add new {{dbc.currentFolder}}" ng-click="dbc.unsetCurrentEntry(); dbc.showModal($event)" style="position: absolute; right: 30px; bottom:30px;">
        <md-tooltip>
          Add new {{dbc.currentFolder}}
        </md-tooltip>
        +
      </md-button>
  </div>





</body>

</html>
